In [3]:
!pip install pandas
import pandas as pd
import pprint

Requirement already satisfied: pandas in /srv/conda/lib/python3.6/site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (2.7.3)
Requirement already satisfied: numpy>=1.9.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (1.15.2)
Requirement already satisfied: pytz>=2011k in /srv/conda/lib/python3.6/site-packages (from pandas) (2018.5)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

In [4]:
num_pairs = 11
pp = pprint.PrettyPrinter(indent=4)

Generate Pairs

In [1]:

def generatePairs():
    from random import shuffle
    women = []
    for woman in range(0,num_pairs):
        women.append('F'+str(woman).zfill(2))
    shuffle(women) # Shuffle newwords
    pairs = {}
    for i in range(0,num_pairs):
        pairs['M'+str(i).zfill(2)] = women[i]
    return pairs

perfect_matches = generatePairs()

In [2]:
pp.pprint(perfect_matches)

{   'M00': 'F02',
    'M01': 'F05',
    'M02': 'F00',
    'M03': 'F07',
    'M04': 'F06',
    'M05': 'F09',
    'M06': 'F08',
    'M07': 'F10',
    'M08': 'F04',
    'M09': 'F03',
    'M10': 'F01'}

In [3]:
possible = generatePairs()
pp.pprint(possible)

{   'M00': 'F01',
    'M01': 'F07',
    'M02': 'F00',
    'M03': 'F08',
    'M04': 'F04',
    'M05': 'F03',
    'M06': 'F09',
    'M07': 'F05',
    'M08': 'F02',
    'M09': 'F06',
    'M10': 'F10'}

In [20]:
def compare(pairing1, pairing2):
    beams = 0
    for man in pairing1:
        if man not in ["result"]:
            if pairing1[man] == pairing2[man]:
                beams+=1
    return beams
        
print(compare(possible, perfect_matches))

1

In [21]:
from random import randint
def swap(number, pairs):
    newpairs = pairs.copy()
    if number > num_pairs:
        print("can't swap more pairs than exist, num_pairs="+str(num_pairs))
    elif number > 1:
        couples_to_swap = []
        for i in range(0, number):
            couples_to_swap.append(randint(0,num_pairs-1))
        #print(couples_to_swap)
        #for i in couples_to_swap:
            #print(pairs['M'+str(i).zfill(2)])
        newpairs['M'+str(couples_to_swap[0]).zfill(2)] = pairs['M'+str(couples_to_swap[1]).zfill(2)]
        newpairs['M'+str(couples_to_swap[1]).zfill(2)] = pairs['M'+str(couples_to_swap[0]).zfill(2)]
        return newpairs
    else:
        print("can't swap less than 2")
            
swap(1, possible) #should error, not enough
swap(0, possible) #shoule error, not enough
swap(12, possible) #should error too many

pp.pprint(possible)
swapped = swap(2, possible)
pp.pprint(swapped)

can't swap less than 2
can't swap less than 2
can't swap more pairs than exist, num_pairs=11
{   'M00': 'F01',
    'M01': 'F07',
    'M02': 'F00',
    'M03': 'F08',
    'M04': 'F04',
    'M05': 'F03',
    'M06': 'F09',
    'M07': 'F05',
    'M08': 'F02',
    'M09': 'F06',
    'M10': 'F10'}
{   'M00': 'F04',
    'M01': 'F07',
    'M02': 'F00',
    'M03': 'F08',
    'M04': 'F01',
    'M05': 'F03',
    'M06': 'F09',
    'M07': 'F05',
    'M08': 'F02',
    'M09': 'F06',
    'M10': 'F10'}

In [22]:
pp.pprint(possible)
print(compare(possible, perfect_matches))
week2 = swap(2, possible)
print(compare(week2, perfect_matches))
week3 = swap(2, week2)
print(compare(week3, perfect_matches))
week4 = swap(2, week3)
print(compare(week4, perfect_matches))

{   'M00': 'F01',
    'M01': 'F07',
    'M02': 'F00',
    'M03': 'F08',
    'M04': 'F04',
    'M05': 'F03',
    'M06': 'F09',
    'M07': 'F05',
    'M08': 'F02',
    'M09': 'F06',
    'M10': 'F10'}
1
1
1
1

In [37]:
weeks = 10
previous = possible.copy()
results = {}
matches = {}
previous['result'] = compare(possible, perfect_matches)
matches[1] = previous
for i in range(2,weeks +1):
    weekx = swap(2, previous)
    matches[i] = weekx
    weekx['result'] = compare(weekx, perfect_matches)
    #results[i] = compare(weekx, perfect_matches)
    previous = weekx.copy()
matches['perfect'] = perfect_matches

pd.DataFrame(data=matches)

          1    2    3    4    5    6    7    8    9   10 perfect
M00     F01  F01  F01  F01  F01  F02  F02  F02  F03  F03     F02
M01     F07  F07  F07  F07  F10  F10  F10  F10  F10  F10     F05
M02     F00  F00  F00  F00  F00  F00  F00  F00  F00  F00     F00
M03     F08  F08  F08  F08  F08  F08  F08  F08  F08  F08     F07
M04     F04  F04  F05  F02  F02  F01  F01  F01  F01  F09     F06
M05     F03  F03  F03  F03  F03  F03  F03  F03  F02  F02     F09
M06     F09  F09  F09  F09  F09  F09  F09  F06  F06  F06     F08
M07     F05  F05  F04  F04  F04  F04  F04  F04  F04  F04     F10
M08     F02  F02  F02  F05  F05  F05  F05  F05  F05  F05     F04
M09     F06  F10  F10  F10  F07  F07  F06  F09  F09  F01     F03
M10     F10  F06  F06  F06  F06  F06  F07  F07  F07  F07     F01
result    1    1    1    1    1    2    2    2    1    1     NaN

M00 M01 M02 M03 M04 M05 M06 M07 M08 M09 M10
1   2   3   4   5   6   7   8   9   10  11 
11  1   2   3   4   5   6   7   8   9   10
10  11  1   2   3   4   5   6   7   8   9

In [8]:
import itertools
print(len(list(itertools.permutations(range(0, 1)))))
print(dir(itertools.permutations(range(0, 2))))
print(len(list(itertools.permutations(range(0, 3)))))
print(len(list(itertools.permutations(range(0, 4)))))
print(len(list(itertools.permutations(range(0, 5)))))
print(len(list(itertools.permutations(range(0, 6)))))
print(len(list(itertools.permutations(range(0, 7)))))
print(len(list(itertools.permutations(range(0, 8)))))
#print(len(itertools.permutations(range(0, 9))))
#print(len(list(itertools.permutations(range(0, 11)))))

1
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__']
6
24
120
720
5040
40320

In [30]:
for item in matches:
    for item2 in matches:
        if item != item2:
            print(item, item2, compare(matches[item], matches[item2]))

1 2 9
1 3 7
1 4 6
1 5 5
1 6 3
1 7 2
1 8 2
1 9 2
1 10 3
2 1 9
2 3 9
2 4 7
2 5 6
2 6 4
2 7 3
2 8 3
2 9 3
2 10 4
3 1 7
3 2 9
3 4 9
3 5 8
3 6 6
3 7 4
3 8 3
3 9 3
3 10 3
4 1 6
4 2 7
4 3 9
4 5 9
4 6 7
4 7 5
4 8 3
4 9 3
4 10 3
5 1 5
5 2 6
5 3 8
5 4 9
5 6 9
5 7 7
5 8 5
5 9 5
5 10 5
6 1 3
6 2 4
6 3 6
6 4 7
6 5 9
6 7 9
6 8 7
6 9 6
6 10 6
7 1 2
7 2 3
7 3 4
7 4 5
7 5 7
7 6 9
7 8 9
7 9 8
7 10 7
8 1 2
8 2 3
8 3 3
8 4 3
8 5 5
8 6 7
8 7 9
8 9 9
8 10 8
9 1 2
9 2 3
9 3 3
9 4 3
9 5 5
9 6 6
9 7 8
9 8 9
9 10 9
10 1 3
10 2 4
10 3 3
10 4 3
10 5 5
10 6 6
10 7 7
10 8 8
10 9 9